$$X_{cap}+m*x+c$$

$$y_{pred}=\frac{1}{1+e^{-x_{cap}}}$$

if f(ypred)>= 0.5 1
else f(ypred)<=0.5 =0

In [1]:
import pandas as pd
import numpy as np

In [14]:
x = [0.1,0.2,0.3,0.7,0.8,0.9]
y = ['Y','Y','Y','N','N','N']

In [15]:
data = pd.DataFrame(data ={
    'x' : x,
    'y' : y
})

In [16]:
data

     x  y
0  0.1  Y
1  0.2  Y
2  0.3  Y
3  0.7  N
4  0.8  N
5  0.9  N

In [17]:
m = 2.14 ; b=-0.8

In [18]:
x_cap = [m*x + b for x in data['x']]

In [19]:
x_cap

[-0.5860000000000001,
 -0.372,
 -0.15800000000000003,
 0.698,
 0.9120000000000001,
 1.1260000000000001]

In [26]:
 y_pred = [1/(1+np.exp(xcap))for xcap in x_cap]

In [30]:
 y_pred_values = [1 if predval >=0.5 else 0 for predval in y_pred]

In [31]:
y_pred_values

[1, 1, 1, 0, 0, 0]

In [33]:
y_decode = ["Y" if predval ==1 else "N" for predval in y_pred_values]

In [34]:
y_decode

['Y', 'Y', 'Y', 'N', 'N', 'N']

In [36]:
### accuracy ###
y_org = data['y']
y_pred = y_decode

In [37]:
y_org,y_decode

(0    Y
 1    Y
 2    Y
 3    N
 4    N
 5    N
 Name: y, dtype: object,
 ['Y', 'Y', 'Y', 'N', 'N', 'N'])

In [43]:
y_pred[3]='Y'

In [44]:
c=0
t=0
for yo, yp in zip(y_org, y_pred):
    if yo == yp:
        c+=1
    else:
        pass
    t+=1

In [45]:
c,t

(5, 6)

In [41]:
accuracy =(c/t)*100

In [42]:
accuracy

100.0